@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
  }
  
  .animate-fadeIn {
    animation: fadeIn 0.2s ease-out;
  }
  